/* Structure */

:root {
  --background: #1d3826; 
  --text: darkgray; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--text);
}

#header-content {
    /*header content*/
    margin:auto;
    width:80%;
    padding:5px;
}

#header-content, #assignment-id {
  margin: auto;  
  width: 80%; 
  padding: 5px; 
}


#flex-container {
    display:inline;
    text-align:center;
    justify-content:space-between;
}

#header-id {
    text-align:center;
}

#assignment-id, 
#project-header{
  /*Assignments block*/ 
  text-align: center; 
  text-decoration: underline;
  cursor: pointer; 
}

#assignment {
    /* individual assignment*/
    background: var(--background);
    text-align: center; 
    margin: 5px; 
    border: 15px solid var(--text); 
    width:30%; 
    flex: 30%;
  }

#img-id {
    width:200px;
    height:120px;
}

a {
    color:darkgray;
    text-decoration: underline;
}

#project-list li {
    text-align:center;
    list-style-type:none;
    padding:20px;
    margin:auto;
}

#project-list a {
    text-decoration:none;
    border: 5px solid var(--text);
    padding:10px;
}

/* Navigation */




/* Typography*/

/* Media Queries */
/* Apply to 600px screens and larger */
@media only screen and (min-width:600px) {
    #flex-container {
        display:flex;
        flex-wrap:wrap;
        flex:20%;
        flex-grow:0%;
    }

}

/* Apply to 760px screens and larger 
@media only screen and (min-width:760px) { 

}*/