/* Structure */
body {
    background:#1d3826;
    background-size:100vw,100vh;
    font-family:Arial, Helvetica, sans-serif;
}

#main-content {
    background:#677479;
    padding:5px;
    margin:20px auto;
    width:70%;
    border-radius:10px;
}

#table {
    background:#498c60;
    padding:5px;
    margin:20px auto;
    width:70%;
    border-radius:10px;
}

#main-table a {
    text-decoration:none; /* no underline */
    color:#1e2e33;
    padding:5px;
    margin:5px;
    border-radius:2px;
}

/* Navigation */




/* Typography */
h1 { /* for main title */
    color:#244028;
    width:fit-content; /* center on page */
    margin: auto; /* center on page */
}

table { /*for the list*/
    color:#bec4c6;
    width:fit-content; /* center on page */
    margin: auto; /* center on page */
}

table td {
    color:black;
    width:fit-content;
    margin:auto;
}


/* Media Queries */
/* Apply to 600px screens and larger */
@media only screen and (min-width:600px) {
    .columns {
        display:flex;
    }
    .one {
        flex:1;
    }

}

/* Apply to 760px screens and larger */
@media only screen and (min-width:760px) { 

}